BOT_TOKEN=8002512809:AAG_PZHKljOxBB67H2uHVqGXy5LzH10uJc0
APP_BASE_URL=https://your-app.up.railway.app
TELEGRAM_BOT_USERNAME=wisdigit_bot
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:PORT/DB
ADMIN_CHAT_IDS=909249284
USDT_WALLET_ADDRESS=your_usdt_address
USDC_WALLET_ADDRESS=your_usdc_address
BTC_WALLET_ADDRESS=your_btc_address
PLATFORM_CLIENT_FEE_PERCENT=20
PLATFORM_SELLER_FEE_PERCENT=20
AUTO_RELEASE_DAYS=5
REMINDER_HOURS=12
