fastapi==0.115.6
uvicorn[standard]==0.34.0
jinja2==3.1.5
python-multipart==0.0.20
sqlalchemy==2.0.36
asyncpg==0.30.0
pydantic-settings==2.7.1
aiogram==3.17.0
python-dotenv==1.0.1
aiofiles==24.1.0
apscheduler==3.10.4
qrcode==8.0
pillow==11.1.0
itsdangerous
